<mc-page id="about" title="简介">
    <header>
    	<mc-nav position="left" back="true" change-to="services">主页</mc-nav>
    </header>
    <mc-content>
		<div class="container categories-page">
			<div class="category-container">
				<a href=>
				<div ng-click="chooseCompanyinfo()">
					<div back-img="img/Companyinfo.jpg" class="background-image">
						<div class="about-name">公司简介</div>
					</div>
				</div>
				</a>
			</div>
			<div class="category-container">
				<a href=>
				<div ng-click="chooseHours()">
					<div back-img="img/Hours.jpg" class="background-image">
						<div class="about-name">工作时间</div>
					</div>
				</div>
				</a>
			</div>
			<div class="category-container">
				<a href=>
				<div ng-click="chooseFoodquality()">
					<div back-img="img/Foodquality.jpg" class="background-image" >
						<div class="about-name">食品安全</div>
					</div>
				</div>
				</a>
			</div>
		</div>
    </mc-content>
</mc-page>
