<mc-page id="about" title="About">
    <header>
    	<mc-nav position="left" back="true" change-to="services">Home</mc-nav>
    </header>
    <mc-content>
		<div class="container categories-page">
			<div class="category-container">
				<div ng-click="chooseCaompanyinfo()">
					<div back-img="emenubase-client/img/Companyinfo.jpg" class="background-image">
						<div class="category-name">Company Info</div>
					</div>
				</div>
			</div>
			<div class="category-container">
				<div ng-click="chooseAbout()">
					<div back-img="emenubase-client/img/Hours.jpg" class="background-image">
						<div class="category-name">Hours</div>
					</div>
				</div>
			</div>
			<div class="category-container">
				<a href="tel:1-408-555-5555">
					<div back-img="emenubase-client/img/Foodquality.jpg" class="background-image" >
						<div class="category-name">Food Quality</div>
					</div>
				</a>
			</div>
		</div>
    </mc-content>
</mc-page>
