<mc-page id="buzz" title="Call Us">
    <header>
    	<mc-nav position="left" back="true" change-to="services">Home</mc-nav>
    </header>
    <mc-content>
		<div class="container categories-page">
			<div class="category-container">
				<div>
					<div back-img="emenubase-client/img/Buzz.jpg" class="background-image">
						<div class="category-name">Call Us</div>
						<button class="btn btn-success btn-sm pull-right" ><a href="tel:1-408-555-5555">1-408-555-5555</a></button>
					</div>
				</div>
			</div>
		</div>
    </mc-content>
</mc-page>
