<mc-page id="companyinfo" title="公司简介">
    <header>
    	<mc-nav position="left" back="true" change-to="about">About</mc-nav>
    </header>
    <mc-content>
		<div ng-repeat="(key,profile) in about" class="col-xs-8 col-xs-offset-2">
		<div class="category-container">
                <label style="margin : 10px;">{{profile.Name}}</label>

                <label style="margin : 10px;">地址 : {{profile.Address}}</label>

                <label style="margin : 10px;">电话 : {{profile.Telephone}}</label>
				<p>{{profile.Companyinfo}}</p>
        </div>
    	</div>
    </mc-content>
</mc-page>
