<mc-page id="hours" title="Hours">
    <header>
    	<mc-nav position="left" back="true" change-to="about">About</mc-nav>
    </header>
    <mc-content>
    <div ng-repeat="(key,profile) in about">
		<table class="table table-striped">
            <thead>
                <tr>
                <th>Day</th>
                <th>From</th>
                <th>To</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Monday</td>
                    <td>{{profile.Hours.Monday.from}}</td>
                    <td>{{profile.Hours.Monday.to}}</td>
                </tr>
            </tbody>
        </table>
    </div>
    </mc-content>
</mc-page>
