	<mc-page id="items" title="{{$parent.categoryChoice}}">
    <header>
        <mc-nav position="left" back="true" change-to="categories">Back</mc-nav>
        <button class="right-nav"><i id="showRightPush" snap-toggle="right" class="icon-empty-bowl1" ng-class="{'icon-icon_17163':myPlate.length, 'icon-bowl-full-test':myPlate.length >= 3}"><span id="notification" class="notification" ng-if="myPlate.length">{{myPlate.length}}</span></i></button>
    </header>
    <mc-content>
        <div class="container items-page">
			<div class="list-panel" ng-repeat="item in menuItemArray | filter: {'category': $parent.categoryChoice}">
				<div class="panel-body">
					<div class="panel-body-inner">
						<div class="panel-body-title">{{item.title}}</div>
						<a href="#" class="panel-body-title col-xs-4"><img ng-src="data:{{item.image.filetype}};base64,{{item.image.base64}}" width="100" height="100" float:"left" ng-click="saveItem(this.item)" data-toggle="modal" data-target="#myModal" href="#"></a>
						<span class="panel-body-description col-xs-8">{{item.description}}<br><br><small>Price - ${{item.price | number : 2}}</small></span>
					</div>
					<a class="panel-add-button" href="" ng-click="addToPlate(this.item)"><i class="fa fa-plus"></i></a>
				</div>
			</div>
		</div>


		<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">Image</h4>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <img ng-src="data:{{defaultItem.image.filetype}};base64,{{defaultItem.image.base64}}" width="100%" height="100%" >
                    <div style="text-align: center;">{{defaultItem.title}}</div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
    </mc-content>
</mc-page>