<mc-page id="services" title="Welcome">
    <header>
    
    </header>
    <mc-content>
		<div class="container categories-page">
			<div class="category-container">
				<div ng-click="chooseMenu()">
					<div back-img="emenubase-client/img/Menu.jpg" class="background-image">
						<div class="category-name">Menu</div>
					</div>
				</div>
			</div>
			<div class="category-container">
				<div ng-click="chooseCallus()">
					<div back-img="emenubase-client/img/Buzz.jpg" class="background-image">
						<div class="category-name">Call Us</div>
					</div>
				</div>
			</div>
			<div class="category-container">
				<div ng-click="chooseAbout()">
					<div back-img="emenubase-client/img/About.jpg" class="background-image">
						<div class="category-name">About</div>
					</div>
				</div>
			</div>
		</div>
    </mc-content>
</mc-page>
