<mc-page id="services" title="Welcome">
    <header>
    
    </header>
    <mc-content>
		<div class="container categories-page" ng-repeat="(key,profile) in about">
			<div class="category-container">
				<a href=>
				<div ng-click="chooseMenu()">
					<div back-img="img/Menu.jpg" class="background-image">
						<div class="category-name">Menu</div>
					</div>
				</div>
				</a>
			</div>
			<div class="category-container">
				<a href=>
				<div ng-click="chooseAbout()">
					<div back-img="img/About.jpg" class="background-image">
						<div class="category-name">About</div>
					</div>
				</div>
				</a>
			</div>
			<div class="category-container">
				<a href="tel:{{profile.Telephone}}">
					<div back-img="img/Buzz.jpg" class="background-image" >
						<div class="category-name">One Touch Call tel:{{profile.Telephone}}</div>
					</div>
				</a>
			</div>
		</div>
    </mc-content>
</mc-page>
